.carousel-control {
  padding-top:10%;
  width:5%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    font-size: 100px;
    font-weight: 700;
    padding: 40px 10px;
}

.carousel img {
	width:100%;
	height: 200%;
}