@charset "UTF-8";
/* CSS Document */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 50px;
}

nav {
	background-color: #34495E;
}

.navbar-brand {
	color: #21C5B3;
	font-weight: 300;
	font-family: 'Fredoka One';
}

.navbar-brand:hover {
	color: #1DAC9D;
}

.navbar-nav > li > a {
	color: #ffffff;
}

.navbar-nav > li > a:hover {
	background-color: #21C5B3;
	color: #ffffff;
}

nav li a#home-link {
	font-weight: 700;
	color: #21C5B3;
}

.navbar-toggle {
	border-color: #ffffff;
	border-width: 2px;
}

.navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.jumbotron {
  background-color: #ffffff;
  display: flex;
  color: #98A1A2;
  height: 100%;
}


.jumbotron h2 {
  font-size: 4.5em;
  font-weight: 100;
  margin: 0;
  color: #21C5B3;
  font-family: 'Fredoka One';
}

.jumbotron h3 {
  margin: 3px 0 12px;
  color: #98A1A2;
}

.header-container {
	display: block;
	padding-top: 100px;
	margin: auto;
	overflow: auto;
}

.header-img img {
	width: 400px;
}

.header-img {
	width: 400px;
}

.header-text {
	padding-left: 20px;
	width: 400px;
}

.header-text a {
	color: #98A1A2;
}

.header-text a:hover {
	color: #34495E;
}

.container-pad {
	padding: 50px;
}

#tickets-text {
	padding-top: 100px;
	text-align: right;
}

#movie-tickets {
	width: 350px;
}

#section-2 {
	background-color: #f5f5f5;
}

#drive-text {
	padding-top: 60px;
	color: #34495E;
}

#drive-caption {
	color: #98A1A2;
	margin: 0;
}

#drive-car {
	padding-top: 30px;
	width: 400px;
}

#carousel-row {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section {
	background-color: #34495E;
}

.section-header h2 {
	color: #ffffff;
	font-weight: 100;
	font-size: 2.5em;
	font-family: 'Fredoka One';
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.page-header {
	margin-top: 80px;
}

.page-header-text h2 {
	color: #21C5B3;
	font-size: 3.5em;
	font-weight: 100;
	font-family: 'Fredoka One';'
}

.col-md-6 {
  margin: 0 0 30px;
}


.start:hover,
.start:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
}

h1 { font-weight: 400; }


/**.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: #ffffff;
  padding:15px 32px;
  display:inline-block;
  font-size:16px;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
**/
#others {
	position:relative;
}

#others h2 {
	position: absolute;
	margin: 0 0 30px;
	color: #FBFBFB;
	text-align: center;
	left: 186px;
	top: 134px;
	width: 257px;
	height: 62px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	line-height: 1em;
	padding: 10px;
}

.footer p {
	font-size: 1em;
	margin: 10px 0;
}

.icons img {
	height: 32px;
	width: 32px;
	margin-right: 10px;
}