@charset "UTF-8";
/* CSS Document */
/* Full-width input fields */

h2 {
	color:#21C5B3;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.signupbtn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 14px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: none;
    width: 100%;
}

.privacy-text {
	margin-top: 8px;
}